@font-face {
    font-family: 'Century-Schoolbook-Monospace-BT';
    src: url('./font/Century-Schoolbook-Monospace-BT.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GaramondPremrPro';
    src:url('./font/GaramondPremrPro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'GaramondPremrPro-It';
    src:url('./font/GaramondPremrPro-It.otf');
    font-weight: normal;
/*    font-style: normal;*/
}